.dialogs {
  display: grid;
  grid-template-columns: 1fr 10fr;
}
.dialogsItems {
  padding: 10px;
}
.dialogsItems .active {
  color: yellow;
}

.messages {
  padding: 10px;
}

/* .massages .massage {

} */
